- @active = "about"
.container
  %h1 About W3 CTO
  %p We put this together as a result of our frustration at not being able to trawl through a list of offshore IT development companies, and identify those which suited us based on their specialism in some tools and number of solid recommendations from previous clients.

  %p That is what we're aiming to answer with this service.

  %h1 Sponsor a position on W3 CTO
  %p If you're a development agency, confident you are a rock solid option for the majority of our visitors, and want extra exposure, then get in touch with us to discuss a sponsored post.
