body {
  padding-top: 70px;
}

.footer {
  border-top: 1px #ddd solid;
  padding-top: 10px;
}

.alert-alert {
  @extend .alert-danger;
}
.alert-notice {
  @extend .alert-success;
}
.field_with_errors {
  @extend .has-error;
}